@inherits LayoutComponentBase

<div>
    <Layout>
        <Header class="header">
            <Space >
                <SpaceItem>
                    <p class="title-text">
                        试作自律型可重编程客服机器人
                    </p>
                </SpaceItem>

                <SpaceItem>
                    <p class="subtitle-text">
                        a.k.a 凯瑟琳
                    </p>
                </SpaceItem>

                <SpaceItem>
                    <div>
                        <a href="editor/">维护界面</a>
                    </div>
                </SpaceItem>
            </Space>
        </Header>

        <Layout>
            <Content>
                @Body
            </Content>
        </Layout>
    </Layout>
</div>

<AntContainer/>