.bubble-left {
    background-color: white;
    border-radius: 1px 10px 10px 10px;
    padding: 5px;
    min-width: 80px;
    max-width: 300px;
    width: fit-content;
    justify-content: center;
}

.bubble-right {
    background-color: white;
    border-radius: 10px 1px 10px 10px;
    padding: 5px;
    max-width: 300px;
    width: fit-content;
    justify-content: center;
}

.message-text {
    font-size: 1.1rem;
    margin: 3px;
    word-break: break-word;
}