.editor-zone {
    height: calc(100vh - 64px);
}

.control-zone {
    height: 5%;
    padding: 2px;
}

.logging-zone {
    height: 15%;
    overflow-y: auto;
    margin-bottom: 5px;
}

.logging-item {
    padding: 0 0 0;
}