.chat-column {
    margin-left: auto;
}

.chat-zone {
    min-width: inherit;
    background: linear-gradient(180deg, 
    #f5f4f6,
    #b5bddf);
    min-height: calc(100vh - 64px);
    padding: 20px;
}