.chat-column {
    margin-left: auto;
}

.content-zone {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    padding: 10px;
    position: relative;
    background: linear-gradient(180deg,
    #f5f4f6,
    #b5bddf);
    overflow: hidden;
}

.chat-zone {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.control-zone {
    min-width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #b5bddf;
    display: block;
    box-shadow: 3px 0 0 #b5bddf;
}

.input-zone {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}