.chat-column {
    margin-left: auto;
}

.content-zone {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 64px);
    position: relative;
    background: linear-gradient(180deg,
    #f5f4f6,
    #b5bddf);
    overflow: hidden;
}

.chat-zone {
    min-width: 100%;
    padding: 20px;
    position: relative;
    overflow-y: auto;
}

.control-zone {
    min-width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #b5bddf;
    display: block;
}

.control-zone::before {
    content: "";
    pointer-events: none;
    height: 14px;
    min-width: inherit;
    top: -14px;
    display: block;
    position: absolute;
    background: linear-gradient(180deg,
    rgb(187, 193, 223),
    #b5bddf);
}

.input-zone {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}