@inherits LayoutComponentBase

<div>
    <Layout>
        <Header class="header">
            <Space >
                <SpaceItem>
                    <p class="title-text">
                        自律型可重编程对话机器人
                    </p>
                </SpaceItem>
                
                <SpaceItem>
                    <p class="subtitle-text">
                        a.k.a 凯瑟琳
                    </p>
                </SpaceItem>
            </Space>
        </Header>

        <Layout>
            <Content>
                @Body
            </Content>
        </Layout>
    </Layout>
</div>